<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/styles/partials/dashboard/dashboard-cards.css" />
  </head>

  <body>
    <main>
      <section class="dashboard-cards-section section">
        <div class="dashboard-cards-container">
          <div class="head">
            <div class="project">Projects</div>

            <div class="select">
              <select class="custom-select">
                <option value="This Day">This Day</option>
                <option value="This Week">This Week</option>
                <option value="This Month">This Month</option>
                <option value="This Year">This Year</option>
              </select>
            </div>
          </div>

          <div class="cards-container">
            <div class="card card-1">
              <div class="card-head">
                <div class="card-topic">To do</div>
                <div class="task-number">0</div>
              </div>
              <div class="add-button">+</div>
              <div class="card-body">
                <div class="task task-1">
                  <div class="task-head">Lorem ipsum dolor sit amet.</div>
                  <div class="task-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla pariatur modi quia praesentium molestias ullam.
                  </div>
                </div>
                <div class="task task-2">
                  <div class="task-head">Lorem ipsum dolor sit amet.</div>
                  <div class="task-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla pariatur modi quia praesentium molestias ullam.
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-2">
              <div class="card-head">
                <div class="card-topic">In progress</div>
                <div class="task-number">0</div>
              </div>
              <div class="add-button">+</div>
              <div class="card-body">
                <div class="task task-1">
                  <div class="task-head">Lorem ipsum dolor sit amet.</div>
                  <div class="task-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla pariatur modi quia praesentium molestias ullam.
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-3">
              <div class="card-head">
                <div class="card-topic">Completed</div>
                <div class="task-number">0</div>
              </div>
              <div class="add-button">+</div>
              <div class="card-body">
                <div class="task task-1">
                  <div class="task-head">Lorem ipsum dolor sit amet.</div>
                  <div class="task-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla pariatur modi quia praesentium molestias ullam.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
