.left{
    width: 270px;
    margin: 20px 0;
    margin-left: 150px;
}

.achievements-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.secondary-heading{
    margin-bottom: 16px;
    font-weight: var(--fw-bold);
}

.right{
    display: flex;
    margin: 20px 0;
    margin-right: 150px;
}

.achievement-card{
    text-align: center;
    padding: 0 20px;
}

.achievement-img{
    height: 100px;
    margin-bottom: 16px;
}

.achievement-heading{
    margin-bottom: 6px;
}

.left p a{
    color: var(--clr-accent-light);
    text-decoration: none;
    display: inline-block;
}

.left p a:hover{
    text-decoration: underline;
}